<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="/assets/img/favicon.png" />

    <!-- Main structure css file -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/services.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/uikit.css" />
    <link rel="stylesheet" href="/assets/css/notyf.min.css" />
    <link rel="stylesheet" href="/assets/css/vue-select.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui-timepicker-addon.min.css" />
    <link rel="stylesheet" href="/assets/css/datepicker-ui.css" />
    <link href="/assets/css/jqvmap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.thinkgeo.com/vectormap-icons/2.0.0-beta004/vectormap-icons.css">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Online Reservation</title>
  </head>
  <body>
    <noscript>
      <strong>Online Reservation</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/popper.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/uikit.min.js"></script>
  <script src="/assets/js/uikit-icons.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/font-awesome-5-pro.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" integrity="sha256-UGwvyUFH6Qqn0PSyQVw4q3vIX0wV1miKTracNJzAWPc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" integrity="sha256-rqEXy4JTnKZom8mLVQpvni3QHbynfjPmPxQVsPZgmJY=" crossorigin="anonymous"></script>
  <script src="/assets/js/charts.js"></script>
  <script src="/assets/js/notyf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-sliderAccess.js"></script>

  <!-- VMAP -->
  <script src="/assets/js/vmap/jquery.vmap.js" type="text/javascript"></script>
  <script src="/assets/js/vmap/jquery.vmap.thai.js" type="text/javascript"></script>
  <script src="/assets/js/vmap/jquery.vmap.world.js" type="text/javascript"></script>

  <!-- MULTI SELECTION -->
  <script src="/assets/js/bootstrap-multiselect.js" type="text/javascript"></script>
  
  <script src="https://unpkg.com/vue" charset="utf-8"></script>
  <script src="./dist/vue-phone-number-input.umd.min.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="./dist/vue-phone-number-input.css">
</html>
