<template>
    <div class="mt-0 main-content" style="background-color: rgb(249 249 249);">
        <section>
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="register">
                                <div class="register-stepper">
                                    <div class="step step-done"><span class="step-number deskshow">Location & Date</span><span class="step-number mobshow">1</span></div>
                                    <div class="step step-done"><span class="step-number deskshow">Choose car</span><span class="step-number mobshow">2</span></div>
                                    <div class="step step-active"><span class="step-number deskshow">Extras</span><span class="step-number mobshow">3</span></div>
                                    <div class="step"><span class="step-number deskshow">Checkout</span><span class="step-number mobshow">4</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h3 class="font-weight-bolder mt-3 text-uppercase">Choose your car</h3>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="filter-box">
                                <div class="loc-period-box">
                                    <h5 class="font-weight-bolder">LOCATION & PERIOD</h5>
                                    <hr>
                                    <p>
                                        <strong>Office</strong><br>
                                        3/24/2024 7:00AM
                                    </p>
                                    <p>
                                        <strong>Office</strong><br>
                                        3/24/2024 7:00AM
                                    </p>
                                </div>
                                <!-- Car types -->
                                <div class="car-types-form">
                                    <h5 class="font-weight-bolder mt-5">SELECTED VEHICLE</h5>
                                    <hr>
                                    <div class="form-img p-0">
                                        <img class="extras_img" src="/assets/img/car-01.jpeg"/>
                                        <p class="font-weight-bold mb-1">Dodge Dart</p>
                                        <div class="listing-item p-0">
                                            <div class="listing-content mt-0">
                                                <div class="listing-details-group">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <img src="/assets/img/car-parts-01.svg" alt="Gear Type">
                                                            </span>
                                                            <p>Manual</p>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <img src="/assets/img/car-parts-02.svg" alt="Mileage">
                                                            </span>
                                                            <p>14 KM</p>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <img src="/assets/img/car-parts-06.svg" alt="Persons">
                                                            </span>
                                                            <p>5</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3 d-flex mb-0" style="justify-content: space-between;">
                                        <p class="font-weight-bold m-0">TOTAL PRICE</p>
                                        <h3 class="font-weight-bold m-0">$118.00</h3>
                                    </div>
                                    <p class="text-right mt-0">
                                        <a uk-toggle="target: #vouchercode" class="no-outline-btn pt-1">
                                        Have a voucher code?
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <div>
                                <div class="listing-item">
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>EXTRA DRIVER</label>
                                                <input type="number" class="form-control form-control-lg invalid" placeholder="eg. 1">
                                                <p class="extra-details"><span>$10</span> one-time</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>CHILD SEAT</label>
                                                <input type="number" class="form-control form-control-lg invalid" name="extra_driver" placeholder="eg. 1">
                                                <p class="extra-details"><span>$10</span> per day</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>REFUEL SERVICE</label><br>
                                                <label class="switch">
                                                    <input type="checkbox" />
                                                    <span class="slider round"></span>
                                                </label>
                                                <p class="extra-details"><span>$10</span> one time</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex" style="justify-content: space-between;">
                                <button class="btn btn-default">Back</button>
                                <button class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Voucher Modal -->
    <div id="vouchercode" uk-modal>
      <div class="uk-modal-dialog uk-modal-body p-0 text-center">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="grey-box">
              <div class="view-ui mt-4 mb-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" value="" autocomplete="off"
                        required>
                      <label>Voucher Code</label>
                    </div>
                  </div>
                  <div class="text-center w-100">
                    <button id="client" class="btn btn-dark border-0 ml-2 mr-2">Cancel</button>
                    <button id="client" class="btn btn-primary border-0 ml-2 mr-2">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </template>
  
  <script>
  const body = document.getElementsByTagName("body")[0];
  
  export default {
    name: "signin",
    components: {
    },
    data() {
      return {
        params: {
          email: 'dev@autorental.com',
          password: '123456789',
        },
      }
    },
    methods: {
      login() {
        this.$toast.loading({
          message: 'Loading...',
          forbidClick: true,
        })
        
        this.$auth.login({
          data: this.params,
          redirect: '/',
          staySignedIn: true,
          fetchUser: true,
          success() {
              console.log('success ' + this.context);
          },
          error(res) {
  
              console.log(res.response);
  
              console.log('error ' + this.context);
  
              this.error = res.data;
          }
        })
  
        // location.href = "/"
      },
    },
    created() {
     
      body.classList.remove("bg-gray-100");
    },
    beforeUnmount() {
     
      body.classList.add("bg-gray-100");
    },
  };
  </script>
  
  <style>
  .overlay-bg {
    position: absolute;
    z-index: 1;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  } 
  .mt-0 {
      margin-top: 0 !important;
  }
  .page-header {
      padding: 0;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: 50%;
  }
  .min-vh-100 {
      min-height: 100vh !important;
  }
  .mx-auto {
      margin-right: auto !important;
      margin-left: auto !important;
  }
  .flex-column {
      flex-direction: column !important;
  }
  .d-flex {
      display: flex !important;
  }
  .pe-0 {
      padding-right: 0 !important;
  }
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0, 0, 0, 0.125);
      border-radius: 1rem;
  }
  .pb-0 {
      padding-bottom: 0!important;
  }
  .card-header {
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      background-color: #fff;
      border-bottom: 0 solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
      border-radius: 1rem 1rem 0 0;
  }
  .card .card-header {
      padding: 1.5rem;
  }
  
  .text-start {
      text-align: left!important;
  }
  .my-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
  .justify-content-center {
      justify-content: center !important;
  }
  .d-none {
      display: none !important;
  }
  .card.card-plain {
      background-color: transparent;
      box-shadow: none !important;
  }
  .card-body {
      flex: 1 1 auto;
      padding: 1rem 1rem;
  }
  .card .card-body {
      font-family: "Open Sans", sans-serif;
      padding: 1.5rem;
  }
  .flex-column {
      flex-direction: column !important;
  }
  .h-100 {
      height: 100% !important;
  }
  .end-0 {
      right: 0 !important;
  }
  .top-0 {
      top: 0 !important;
  }
  .position-absolute {
      position: absolute !important;
  }
  .card-footer:last-child {
      border-radius: 0 0 1rem 1rem;
  }
  .card .card-footer {
      padding: 1.5rem;
      background-color: transparent;
  }
  .font-weight-bolder {
      font-weight: 700 !important;
  }
  .mb-3 {
      margin-bottom: 1rem !important;
  }
  .form-control {
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d2d6da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.5rem;
      transition: box-shadow 0.15s ease, border-color 0.15s ease;
  }
  .form-control-lg {
      min-height: unset;
      padding: 0.75rem 0.75rem;
      font-size: 0.875rem;
      border-radius: 0.5rem;
  }
  .form-check {
      display: block;
      min-height: 1.5rem;
      padding-left: 1.73em;
      margin-bottom: 0.125rem;
  }
  
  .form-switch {
      display: flex;
      align-items: center;
      padding-left: 3rem;
  }
  .form-check-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      float: left;
      width: 2.5rem;
      margin-left: -3rem;
      background-image: none;
      background-position: left center;
      border-radius: 2.5rem;
      transition: background-color 0.25s ease, border-color 0.25s ease, background-position 0.15s ease-in-out, opacity 0.15s ease-out, box-shadow 0.15s ease-in-out;
  }
  .form-check-label, .form-check-input[type=checkbox] {
      cursor: pointer;
  }
  
  .form-switch .form-check-input {
      border: 1px solid #e9ecef;
      position: relative;
      background-color: rgba(33, 37, 41, 0.1);
      height: 1.25em;
  }
  
  .form-switch .form-check-input:after {
      transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      background-color: #fff;
      transform: translateX(1px);
      box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
      top: 1px;
  }
  .form-check-label {
      font-size: 0.875rem;
      font-weight: 400;
      top: -7px;
  }
  .form-switch .form-check-label {
      margin-bottom: 0;
      margin-left: 1rem!important;
  }
  .text-sm {
      font-size: 0.875rem !important;
      line-height: 1.5;
  }
  .mx-auto {
      margin-right: auto !important;
      margin-left: auto !important;
  }
  .border-radius-lg {
      border-radius: 0.75rem;
  }
  .px-7 {
      padding-right: 6rem !important;
      padding-left: 6rem !important;
  }
  .m-3 {
      margin: 1rem !important;
  }
  .bg-gradient-dark {
      background-image: linear-gradient(310deg, #212229 0%, #212529 100%);
  }
  .mask {
      position: absolute;
      background-size: cover;
      background-position: center center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
  }
  .opacity-6 {
      opacity: 0.6 !important;
  }
  .form-check.form-switch {
    padding-left: 0!important;
  }
  .bookform {
    background-color: #cd1818;
    z-index: 2;
    color: #fff!important;
  }
  .bookform .card-header {
    background-color: transparent;
  }
  .bookform .form-control {
    background-color: #fff!important;
  }
  @media (min-width: 992px) {
    .mx-lg-0 {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .d-lg-flex {
      display: flex !important;
    }
    .px-lg-2 {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }
  @media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
  }
  p {
    color: #302f2f!important;
  }
  .listing-item .listing-content .listing-details-group ul li {
    border: 1px solid #ccc;
    padding: 5px;
    justify-content: center;
  }
  .listing-item .listing-content .listing-details-group ul li:nth-child(2) {
    border-left: none;
    border-right: none;
  }
  </style>